{% extends 'script.html' %}
{% load static %}
{% block main %} 
<head>
    <title>Enregistrement person</title>
    <link rel="stylesheet" href="{% static 'css/enreg_perso.css' %}">
</head>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 logo" href="{% url 'enreg_personnel' %}">Cabinet</a>
    <ul class="navbar-nav me-auto list_led">
        <li class="nav-item">
            <span class="led_rouge text-white mt-2"></span> <span class="led_jaune text-white"></span> <span class="led_bleu text-white"></span></a>
        </li>
    </ul>
    <button class="navbar-toggler position-absolute d-md-none collapsed tgler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap sing-out">
            <a class="nav-link px-3 text-white" href="{% url 'deconnexion' %}"><i class="fas fa-sign-out-alt"></i>  Déconnexion</a>
        </div>
    </div>
</header>
<div class="container-fluid mt-3">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div class="d-flex bg">
                        {% if user.photo %}
                            <a class="nav-link" href=""><img src="{{user.photo.url}}" class="img-circle me-2 img" alt="{{user.name}}"></a>
                            <p class="pseudo mt-4">@Admin<br>{{user.username}}</p>
                            {% else %}
                                <h5>Pas d'image</h5>
                        {% endif %}
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link actif" href="{% url 'enreg_personnel' %}"><i class="fas fa-solid fa-user"></i> Personnels</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'enreg_avocat' %}"><i class="fas fa-solid fa-user"></i> Avocats</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'enreg_client' %}"><i class="fas fa-solid fa-user"></i> Clients</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'liste_dossier' %}"><i class="fas fa-folder"></i> Liste des dossiers</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'liste_acte' %}"><i class="fas fa-file-alt"></i> Liste des actes</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'liste_send_file' %}"><i class="fas fa-file-alt"></i> Liste des fichiers</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'liste_archive' %}"><i class="fas fa-archive"></i> Liste des archives</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'service_avocat' %}"><i class="fas fa-balance-scale"></i> Services</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'deconnexion' %}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10">
            <div class="container">
                <p>Enregistre un Personnel</p>
                <hr>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert {{message.tags}} alert-dismissible fade show text-center mb-4" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="mb-2">
                                <label for="first_name" class="form-label">Nom</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" required>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="mb-2">
                                <label for="last_name" class="form-label">Post-nom</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" required>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="mb-2">
                                <label for="username" class="form-label">Prénom</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="mb-3">
                                <label for="genre" class="form-label">Genre</label>
                                <select name="genre" id="genre" class="form-control" required>
                                    <option value=""></option>
                                    <option value="masculin">Masculin</option>
                                    <option value="feminin">Feminin</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="mb-3">
                                <label for="email" class="form-label">Adresse mail</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="mb-3">
                                <label for="phone" class="form-label">Téléphone</label>
                                <input type="tel" class="form-control" id="phone" name="phone" pattern="^0[0-9]{9}" maxlength="10" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="mb-3">
                                <label for="adresse" class="form-label">Adresse actuelle</label>
                                <input type="text" name="adresse" class="form-control" id="adresse" required>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="mb-3">
                                <label for="service" class="form-label">Service</label>
                                <select name="service" id="service" class="form-control" required>
                                    <option value=""></option>
                                    <option value="personnel">Personnel</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="mb-3">
                                <label for="file" class="form-label">Photo</label>
                                <input type="file" class="form-control" id="fileImage" name="photo" accept=".png, .jpg, .jpeg" required>
                                <img alt="Profil" src="" class="img-thumbnail mx-4 mt-2" id="thumbnail">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter Personnel</button>
                    <button type="reset" class="btn btn-danger">Annuler</button>
                </form>
            </div>
            <div class="container">
                <form class="d-flex mb-4 mx-1">
                    <input class="form-control me-2" type="search" placeholder="Entrez le prénom ou nom" name="recherche" autocomplete="off">
                    <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr class="th">
                                    <td class="title">Profil</td>
                                    <td class="title">Nom</td>
                                    <td class="title">Post-nom</td>
                                    <td class="title">Prénom</td>
                                    <td class="title">Adresse mail</td>
                                    <td class="title">Genre</td>
                                    <td class="title text-center">Date d'enregistrement</td>
                                    <td class="title" colspan="2">Traitement</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for personnel in personnels %}
                                <tr>
                                    <td><img src="{{personnel.user.photo.url}}" class="rounded-circle me-2 circle profil"></td>
                                    <td>{{personnel.user.first_name | capfirst}}</td>
                                    <td>{{personnel.user.last_name | capfirst}}</td>
                                    <td>{{personnel.user.username | capfirst}}</td>
                                    <td>{{personnel.user.email}}</td>
                                    <td>{{personnel.user.genre | capfirst}}</td>
                                    <td>{{personnel.user.created_at | capfirst}}</td>
                                    <td>
                                        <a class="btn btn-primary action" href="{% url 'update_personnel' personnel.user.id %}" role="button"><i class="fas fa-user-edit"></i></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger action" href="{% url 'delete_personnel' personnel.user.id %}" role="button"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </main>
</div>
{% endblock main %}