{% extends 'script.html' %}
{% load static %}
{% block main %}
<head>
    <meta charset="UTF-8">
    <title>Liste archive</title>
    <link rel="stylesheet" href="{% static 'css/enreg_perso.css' %}">
</head>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 logo" href="{% url 'personnel_enregis_avocat' %}">Cabinet</a>
    <ul class="navbar-nav me-auto list_led">
        <li class="nav-item">
            <span class="led_rouge text-white mt-2"></span> <span class="led_jaune text-white"></span> <span
                class="led_bleu text-white"></span></a>
        </li>
    </ul>
    <button class="navbar-toggler position-absolute d-md-none collapsed tgler" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap sing-out">
            <a class="nav-link px-3 text-white" href="{% url 'deconnexion' %}"> <i class="fas fa-sign-out-alt"></i> Déconnexion</a>
        </div>
    </div>
</header>

<div class="container-fluid mt-2">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div class="d-flex bg">
                            {% if user.photo %}
                                <a class="nav-link" href=""><img src="{{user.photo.url}}" class="img-circle me-2 img" alt="{{user.name}}"></a>
                                <p class="pseudo mt-4">@Personnel<br>{{user.username}}</p>
                                {% else %}
                                    <h5>Pas d'image</h5>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'personnel_enregis_avocat' %}"><i class="fas fa-solid fa-user"></i> Avocats</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'personnel_enreg_client' %}"><i class="far fa-solid fa-user"></i> Clients</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'liste_dossier_person' %}"><i class="fas fa-folder"></i> Liste des dossiers</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'liste_acte_person' %}"><i class="far fa-file-alt"></i> Liste des actes</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'liste_archive_person' %}"><i class="fas fa-archive"></i> Liste des archives</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'deconnexion' %}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10">
            <div class="container">
                <p> La liste des archives</p>
                <form class="d-flex mb-4 mx-1">
                    <input class="form-control me-2" type="search" placeholder="Entrez le numero du dossier" name="recherche"  autocomplete="off">
                    <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <tbody>
                                <tr class="th">
                                    <td class="title">{{archive_number}}</td>
                                    <td class="title">Numéro dossier</td>
                                    <td class="title">Titre de dossier</td>
                                    <td class="title">Objet de dossier</td>
                                    <td class="title">Date ouverture</td>
                                    <td class="title">Date clôture</td>
                                    <td class="title">Traitement</td>
                                    
                                </tr>
                                {% for archive in archives%}
                                    <tr>
                                        <td>
                                            <i class="fas fa-archive mt-1"></i>
                                        </td>
                                        <td>{{archive.numDossier}}</td>
                                        <td>{{archive.titreDossier | capfirst}}</td>
                                        <td>{{archive.objDossier | capfirst}}</td>
                                        <td>{{archive.dateTimeOuverture}}</td>
                                        <td>{{archive.dateTimeFermeture}}</td>
                                        <td class="text-center">
                                            <a class="btn btn-danger action" href="{% url 'person_delete_dossier_archive' archive.id %}" role="button"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </main>
    </div>
</div>
{% endblock main %}