{% extends 'script.html' %}
{% load static %}
{% block main %} 
<head>
    <title>Espace client</title>
    <link rel="stylesheet" href="{% static 'css/enreg_perso.css' %}">
</head>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 logo" href="{% url 'client' %}">Cabinet</a>
    <ul class="navbar-nav me-auto list_led">
        <li class="nav-item">
            <span class="led_rouge text-white mt-2"></span> <span class="led_jaune text-white"></span> <span class="led_bleu text-white"></span></a>
        </li>
    </ul>
    <button class="navbar-toggler position-absolute d-md-none collapsed tgler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap sing-out">
            <a class="nav-link px-3 text-white" href="{% url 'deconnexion' %}"> <i class="fas fa-sign-out-alt"></i> Déconnexion</a>
        </div>
    </div>
</header>
<div class="container-fluid mt-2">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div class="d-flex bg">
                            {% if user.photo %}
                                <a class="nav-link" href=""><img src="{{user.photo.url}}" class="img-circle me-2 img" alt="{{user.name}}"></a>
                                <p class="pseudo mt-4">@Client<br>{{user.username}}</p>
                                {% else %}
                                    <h5>Pas d'image</h5>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'client' %}"><i class="far fa-file-alt"></i> Mes dossiers</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'mon_espace_client' %}"><i class="far fa-solid fa-user"></i> Mon espace</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'send_file_avocat' %}"><i class="far fa-file-alt"></i> Envoyer un fichier</a></li>
                    <li class="nav-item"><a class="nav-link inactif" href="{% url 'deconnexion' %}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
                    
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-2">
        <div class="container">
            <p>Espace client</p>
            <hr>
        </div>
        <div class="container">
            <div class="space-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('{% static 'images/update_mon_espace.jpg'%}');">
                <div class="ligne"></div>
                <img src="{{user.photo.url}}" class="rounded-circle me-2 img-circle1">
            </div>
        </div>
        <div class="container mt-3 p-4">
            <form class="d-flex mb-4 mx-1">
                <input class="form-control me-2" type="search" placeholder="Rechercher un dossier  par le titre ou son objet" name="recherche" autocomplete="off">
                <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="container img-client">
            <p>Mes dossiers</p>
            <hr>        
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <tbody class="table-light">
                            <tr class="th">
                                <td class="title">Numéro dossier</td>
                                <td class="title">Titre de dossier</td>
                                <td class="title">Objet de dossier</td>
                                <td class="title">Noms</td>
                                <td class="title">Date ouverture</td>
                                <td class="title">Date clôture</td>
                            </tr>
                            {% for dossier in  dossiers%}
                            <tr>
                                <td>D/{{dossier.numDossier}}</td>
                                <td>{{dossier.titreDossier | capfirst}}</td>
                                <td>{{dossier.objDossier | capfirst}}</td>
                                <td>{{dossier.username | capfirst}}</td>
                                <td>{{dossier.dateTimeOuverture}}</td>
                                <td>{{dossier.dateTimeFermeture}}</td>
                                
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      
    </main>


    </div>
</div>

{% endblock main %}